:root {
        .profile-pic-container {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 auto 2rem;
        }

        .profile-pic {
        transform: scale(0.9);
        transform-origin: center; 
        }

        .profile-pic {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid var(--border-color);
            transition: var(--transition);
        }

        .profile-pic:hover {
            transform: scale(1);
            box-shadow: var(--shadow);
        } 
    }